*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Aclonica', sans-serif;
    font-size: 22px;
    padding: 10px;
}

h1{
    text-align: center;
    margin: 20px;
}

.navbar{
    padding: 10px;
    font-family:'Aclonica';font-size: 22px;
}



.title-chicken{
    text-align: center;
    font-size: 1.2em;
}

.navbar-toggler:hover{
    background-color: gray;
}